<section class="sidebar">
  
    <ul class="sidebar-menu" data-widget="tree">
     
      

        <li>

      <a href="inicio">

        <i class="fa fa-home"></i>
        <span>Inicio</span>

      </a>

    </li>

    <li>

      <a href="infantil">

        <i class="fa fa-user"></i>
        <span>Infantil</span>

      </a>

    </li>

    <li>

      <a href="apoderados">

        <i class="fa fa-th"></i>
        <span>Apoderados</span>

      </a>

    </li>

    <li>

      <a href="calendario">

        <i class="fa fa-product-hunt"></i>
        <span>Calendario</span>

      </a>

    </li>

    <li>

      <a href="programas">

        <i class="fa fa-id-card"></i>
        <span>programas</span>

      </a>

    </li>

    <li>

      <a href="#">

        <i class="fa fa-users"></i>
        <span>Donaciones</span>

      </a>

    </li>

    <li class="treeview">

      <a href="#">

        <i class="fa fa-list-ul"></i>
        
        <span>citas</span>
        
        <span class="pull-right-container">
        
          <i class="fa fa-angle-left pull-right"></i>

        </span>

      </a>

      <ul class="treeview-menu">
        
        <li>

          <a href="#">
            
            <i class="fa fa-circle-o"></i>
            <span>Administrar citas</span>

          </a>

        </li>

        <li>

          <a href="#">
            
            <i class="fa fa-circle-o"></i>
            <span>Crear cita</span>

          </a>

        </li>

        <li>

          <a href="#">
            
            <i class="fa fa-circle-o"></i>
            <span>Reporte de citas</span>

          </a>

        </li>

      </ul>

    </li>
    <li>



</li>
    
    </ul>

  </section>